.img-slider__box {
	position: relative;
	display: flex;
	align-items: center;
}
.img-slider__box .img-slider__main {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

/* Buttons */
.img-slider__box .left,
.img-slider__box .right {
	position: absolute;
	display: inline;
}
.img-slider__box .left {
	left: 1rem;
}
.img-slider__box .right {
	right: 1rem;
}

@media only screen and (min-width: 576px) {
	.img-slider__box .left,
	.img-slider__box .right {
		display: none;
	}
	.img-slider__box {
		flex-direction: column;
		gap: 1.7rem;
		justify-content: center;
		padding: 5rem 0;
	}
	.img-slider__box .img-slider__main {
		height: 420px;
		width: 400px;
		border-radius: 14px;
		cursor: zoom-in;
	}
}
